<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="ex62">
    <div ng-controller="ctrl62">

<label>Digite numero da operação(1+,2-,3*,4/)</label><br>
<input type="number" name="numoperacao" ng-model="numoperacao"><br>
<label>Digite um valor</label><br>
<input type="number" name="valor1" ng-model="valor1"><br>
<label>Digite um valor</label><br>
<input type="number" name="valor2" ng-model="valor2">
{{saida(valor1,valor2,numoperacao)}}
</div>
</body>
</html>

<script>
 var app = angular.module("ex62" , [])
 app.controller("ctrl62", function($scope){
     $scope.saida = function(valor1,valor2,numoperacao){
    
         if (numoperacao == "1")
            return valor1 + valor2;

        if (numoperacao == "2"){
        return valor1 - valor2;}
        
        if (numoperacao == "3"){
        return valor1 * valor2;}
       
        if (numoperacao == "4"){
        return valor1 / valor2;}
        

 }})



</script>      