<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body ng-app="ex66">
    <label>primeiro valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>segundo valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>terceiro valor</label><br>
         <input type="number" name="valor1" ng-model="valor1"><br>
    <label>quarto valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>quinto valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>sexto valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>setimo valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>oitavo valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>nono valor</llabel><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
    <label>decimo valor</label><br>
        <input type="number" name="valor1" ng-model="valor1"><br>
     
    
</body>
</html>

<script>





</script> 